<h1>Heroes</h1>
<hr />
<div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-outline-primary mb-2"
            type="button" name="button"
            [routerLink]="['/heroe', 'nuevo']">
            Nuevo héroe
    </button>
  </div>
</div>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Casa</th>
            <th class="text-right pr-4">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of heroes | keys; let i = index" >
            <th scope="row">{{ i + 1}}</th>
            <td>{{heroes[key].nombre}}</td>
            <td>{{heroes[key].casa}}</td>
            <td class="text-right">
              <button [routerLink] = "['/heroe', key]"
                      type="button"
                      class="btn btn-outline-success btn-sm">
                      Editar
              </button>
              <button (click)="borrarHeroe( key )"
                      type="button"
                      class="btn btn-outline-danger btn-sm">
                      Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="(heroes | keys).length === 0 && !loading"  class="alert alert-info" role="alert">
        <strong>No existen</strong> registros que mostrar
      </div>
      <div *ngIf="loading"  class="alert alert-info" role="alert">
        <strong>Cargando...</strong> por favor espere.
      </div>
    </div>
  </div>
</div>
